th {
    text-transform: uppercase;
}

th,
td {
    font-size: 15px;
    font-weight: 500;
}

.label-permission {
    font-size: 14px;
    font-weight: normal;
}

label {
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
}

.btn i {
    margin-right: 0;
}

.checkbox-custom {
    display: block;
    margin-bottom: 15px;
}

.checkbox-custom input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
}

.checkbox-custom label {
    position: relative;
    cursor: pointer;
}

.checkbox-custom label:before {
    content: "";
    -webkit-appearance: none;
    background-color: transparent;
    border: 2px solid #0079bf;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
        inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 10px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 5px;
}

.checkbox-custom input:checked + label:after {
    content: "";
    display: block;
    position: absolute;
    top: 2px;
    left: 9px;
    width: 6px;
    height: 14px;
    border: solid #0079bf;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.alert{
    padding: 0 10px;
}

.pagination{
    justify-content: flex-end;
    margin-right: 15px;
}

.image-show{
    display: block;
    vertical-align: middle;
    width: 130px;
    border-radius: 100%;
}

.sweet-alert{
    position: fixed;
    top: 7%;
    right: 0;
    z-index: 9999;
    transition: all .3s ease-in-out;
}

.sweet-alert .alert-success{
    display: none;
}

.checkbox-wrap {
    border:1px solid #ccc;
    padding:10px;
    margin:0 0 10px;
    display:block; 
}
   
.checkbox-wrap:hover {
    background:#eee;
    cursor:pointer;
}

#formSearch .select2{
    width: auto !important;
}

#formSearch .select2-container .select2-selection--single{
    height: 38px;
}

#formSearch .select2-container--default .select2-selection--single{
    background-color: #047DE2;
}

#formSearch .select2-container--default .select2-selection--single .select2-selection__rendered{
    color: white;
    line-height: 38px;
}

#formSearch .select2-container--default .select2-selection--single .select2-selection__arrow{
    height: 36px;
}

#formSearch .select2-container--default .select2-selection--single .select2-selection__arrow b{
    border-color: #fff transparent transparent transparent;
}

#formSearch .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-color: transparent transparent #fff transparent;
}
